<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostedPCI_PaymentAuthUrl" value="https://api-sampqa1stg.c1.hostedpci.com/iSynSApp/paymentAuth.action" />
    <add key="HostedPCI_PaymentSaleUrl" value="https://api-sampqa1stg.c1.hostedpci.com/iSynSApp/paymentSale.action" />
    <add key="HostedPCI_PaymentCaptureUrl" value="https://api-sampqa1stg.c1.hostedpci.com/iSynSApp/paymentCapture.action" />
    <add key="HostedPCI_PaymentCreditUrl" value="https://api-sampqa1stg.c1.hostedpci.com/iSynSApp/paymentCredit.action" />
    <add key="HostedPCI_PaymentVoidUrl" value="https://api-sampqa1stg.c1.hostedpci.com/iSynSApp/paymentVoid.action" />
    <add key="HostedPCI_ApiVersion" value="1.0.1" />
    <add key="HostedPCI_ApiType" value="pxyhpci" />
    <add key="HostedPCI_UserName" value="sampqa1stgAdmAPI" />
    <add key="HostedPCI_UserPassKey" value=".OQdIHVtVJSg-W-Zr40QQGY1xyhvGjUH" />
  </appSettings>
</configuration>