<div class="ccblock">
    <iframe id="ccframe" name="ccframe" src="" width="480" height="80" scrolling="NO" frameBorder="0">
        If you can see this, your browser doesn't understand IFRAME.
    </iframe>
    <div class="row">
        <div>Card Type</div>
        <select id="ccTypeSelector">
            <option value="VISA">VISA</option>
            <option value="MASTER CARD">MASTER CARD</option>
            <option value="JCB">JCB</option>
            <option value="DISCOVER">DISCOVER</option>
        </select>
    </div>
    <div class="row">
        <div>Card Expiration Date</div>
        <select id="expMonthSelector">
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select> / 
        <select id="expYearSelector">
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
        </select>
    </div>
</div>